---
title: Advice generator app
description: Challenge on Frontend Mentor
layout: layouts/base.njk
---
<main class="flex items-center justify-center w-full min-h-screen">

  <div class="text-center rounded-[10px] bg-dark-grayish-blue px-6 pt-10 mx-4 max-w-[540px] md:pt-12 md:px-12 md:-translate-y-4">
    <h3  class="text-[11px] leading-[15.03px] tracking-[3.46px] uppercase text-neon-green md:text-[13px] md:leading-[17.76px] md:tracking-[4.09px]">Advice #<span id="advice-number">117</span></h3>
    <h2 id="advice-text" class="text-fm-quote md:text-fm-quote-lg text-light-cyan my-6 tracking-[-0.26px] md:mb-10 md:tracking-[-0.3px]">“It is easy to sit up and take notice, what's difficult is getting up and taking action.”</h2>
    <picture >
      <source srcset="./img/pattern-divider-desktop.svg" media="(min-width: 640px)"/>
      <source srcset="./img/pattern-divider-mobile.svg" media="(min-width: 320px)"/>
      <img class="mx-auto md:mb-2" src="./img/pattern-divider-mobile.svg"  alt="Pattern Divider as visual"/>
    </picture>
    <button id="advice-generator" class="bg-neon-green p-5 rounded-full translate-y-1/2 duration-300 hover:scale-110 hover:drop-shadow-[0px_0px_40px_#53FFAA] focus:scale-110 focus:drop-shadow-[0px_0px_40px_#53FFAA] focus:outline-none active:scale-90 hover:rotate-45 active:rotate-90">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24"><path d="M20 0H4a4.005 4.005 0 0 0-4 4v16a4.005 4.005 0 0 0 4 4h16a4.005 4.005 0 0 0 4-4V4a4.005 4.005 0 0 0-4-4ZM7.5 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm4.5 4.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Zm0-9a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3Z" fill="#202733"/></svg>
    </button>
  </div>

</main>